<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840516744035-k9jjov0d45ieophatopinmte6ht6p6ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840516744035-k9jjov0d45ieophatopinmte6ht6p6ev</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>840516744035-i6tb6mkmetc0af3q7jhm06sktlnv4969.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALQ2wXv6YC0EFCAiU4d-pl30kIygzAOlY</string>
	<key>GCM_SENDER_ID</key>
	<string>840516744035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socialbucks.app</string>
	<key>PROJECT_ID</key>
	<string>katchiu-fa0ab</string>
	<key>STORAGE_BUCKET</key>
	<string>katchiu-fa0ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840516744035:ios:f325a1385d4fea6ab0d956</string>
	<key>DATABASE_URL</key>
	<string>https://katchiu-fa0ab-default-rtdb.firebaseio.com</string>
</dict>
</plist>